h1 {
    padding: 10px;
    position: relative;
    left: 10px;
    font-family: impact, arial;
    font-size: 58px;
}
img {
   
}

#esimeneVeerg {
    font-family: arial;
    position: relative;
    padding: 10px;
    left: 10px;
}
