h1 {
    position: relative;
    left: 10px;
    font-family: impact, arial;
    font-size: 58px;
}

h2{
    font-family: impact, arial;
}

img {
    float:right;
   }

p {
    text-align: justify;
}

ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
}

ul li{
    padding: 0px 0px 0px 5px; 
}

li a{
    padding: 5px 5px 5px 5px;
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-family: arial;
    border: 2px solid black;
    border-radius: 5px;
}

a:hover {
     background-color: #BDB76B;
     cursor: default;
}

#header {
    position: relative;
    left: 5px;
    top: -30px;
}


#esimeneVeerg {
    width: 400px;
    font-family: arial;
    float:left;
}

#teineVeerg {
    overflow: auto;
    font-family: arial;
}

#wrapper {
    width: 900px;
    padding: 10px;
    left: 10px;
    overflow: hidden;
    display:block
}


table {
    width: 30%;
    font-family: arial;
}

caption, th, td {
     border-bottom: 1px solid #ddd;
     padding: 10px;
     text-align: left;
}

th {
    font-family: impact, arial;
}

tr:hover {
    background-color: #f5f5f5
}

#frame {
    text-align:center;
}
iframe {
    width: 700px;
    height: 700px;
}
