h1 {
    position: relative;
    left: 10px;
    font-family: impact, arial;
    font-size: 58px;
}

h2{
    font-family: impact, arial;
}

img {
    float:right;
   }

p {
    text-align: justify;
}

#esimeneVeerg {
    width: 400px;
    font-family: arial;
    float:left;
}

#teineVeerg {
    overflow: auto;
    font-family: arial;
}

#wrapper {
    width: 900px;
    padding: 10px;
    left: 10px;
    overflow: hidden;
    display:block
}

